<div class="w-10/12 mx-auto">
  <%= render "toolbar" %>
  
  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody id="users">
      <%= render @users %>
    </tbody>
  </table>

  <%= render "pager", pagy: @pagy %>
</div>
